

.badge {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background:blue;
    color: #fff;
    vertical-align: top;
    margin-left: -12px;
    margin-top: -30px;
}
.fa-shopping-cart{
  color: purple;
}


a{
  text-decoration: none;
  color: #343a40;

  &.active{
    color: orange;
  }
}

.logo{
  cursor: pointer;

  &:focus{
    outline: none;
  }
}