<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 
mb-3 bg-white border-bottom shadow-sm fixed-top">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="assets/images/logo.png" style="max-height:70px;" alt="logo" class="logo" routerLink="/">
    </a>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: lager;">
      <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="p-2" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
        <span class="fa-stack fa-2x has-badge mr-5" data-count="5">
            <i class="fa fa-circle fa-stack-2x mr-5"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
         <a class="btn btn-outline-secondary mr-2">login</a>
         <a class="btn btn-outline-secondary mr-3">Sign up</a>
    </div>
  </div>
